<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/signup_styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap" rel="stylesheet">
  <title>Sign Up</title>
</head>

<body>

  <header>
    <h1>Kofi's Bookstore</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/users/new">Sign Up</a>
      <a href="/sessions/new">Log In</a>
    </nav>
  </header>

  <main>
    
    <form class="signup-form" method="POST" action="/signup">
      <h1>Sign Up</h1>

      <label for="username">Username</label>
      <input
        type="VARCHAR(255)"
        id="username"
        name="username"
        placeholder="Username"
        required
      >

      <label for="password">Password</label>
      <input
        type="VARCHAR(255)"
        id="password"
        name="password"
        placeholder="Password"
        required
      >

      <input type="submit" value="Sign Up">
    </form>
    </main>

</body>
</html>